<!DOCTYPE html>

<head>

    <link rel="stylesheet" type="text/css" href="../css/activities.css">
    <link rel="stylesheet" type="text/css" href="../css/navigation.css">

    <script src="https://kit.fontawesome.com/745ee5510e.js" crossorigin="anonymous"></script>
    <title>ACTIVITIES</title>
</head>

<body>
    <div class="base-container">

        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="#" class="button">Buy pass</a>
                </li>
                <li>
                    <i class="fa-solid fa-person-running"></i>
                    <a href="#" class="button">Group activities</a>
                </li>
                <li>
                    <i class="fa-solid fa-money-bill-wave"></i>
                    <a href="#" class="button">Pricing</a>
                </li>
            </ul>
        </nav>


        <main>
            <header>
                <div class="mobile-header">
                    <div class="hamburger">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="mobile-logo">
                        <img src="../img/logo.svg">
                    </div>
                    
                </div>
                <div class="profil">
                    <i class="fa-solid fa-user"></i>

                </div>

            </header>
            <section class="activities">
                <h1>Group activity</h1>
                <div class="activitiesRow">
                    <div id="activity-1">
                        <img src="../img/uploads/all.svg">
                        <div>
                            <h2>All</h2>
                        </div>
                    </div>
                    <div>
                        <img src="../img/uploads/run.svg">
                        <div>
                            <h2>Cardio</h2>
                        </div>
                    </div>
                    <div>
                        <img src="../img/uploads/combat.svg">
                        <div>
                            <h2>Combat</h2>
                        </div>
                    </div>
                </div>
                <div class="activitiesRow">
                    <div>
                        <img src="../img/uploads/joga.svg">
                        <div>
                            <h2>Body & Mind</h2>
                        </div>
                    </div>
                    <div>
                        <img src="../img/uploads/dance.svg">
                        <div>
                            <h2>Dance</h2>
                        </div>
                    </div>
                    <div>
                        <img src="../img/uploads/strenght.svg">
                        <div>
                            <h2>Strength</h2>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>
</body>