<!DOCTYPE html>

<head>

    
    <link rel="stylesheet" type="text/css" href="public/css/pass.css">
    <link rel="stylesheet" type="text/css" href="public/css/navigation.css">
    

    <script src="https://kit.fontawesome.com/745ee5510e.js" crossorigin="anonymous"></script>

    <title>PRICING PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="public/img/logo.svg">
            <ul>
                <li>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="#" class="button">Buy pass</a>
                </li>
                <li>
                    <i class="fa-solid fa-person-running"></i>
                    <a href="#" class="button">Group activities</a>
                </li>
                <li>
                    <i class="fa-solid fa-money-bill-wave"></i>
                    <a href="#" class="button">Pricing</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="mobile-header">
                    <div class="hamburger">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="mobile-logo">
                        <img src="public/img/logo.svg">
                    </div>
                   
                </div>
                <div class="profil">
                    <i class="fa-solid fa-user"></i>
                </div>
            </header>
            <section class="pass">
                <h1>Select a pass</h1>
                <div class="passRow">
                    <div id="pass-1">
                        <h2>1 Entrance</h2>
                        <div>
                            <h3>21PLN</h3>
                            <button class="buy">
                                <i class="fa-solid fa-cart-shopping"></i>
                                &nbsp;Buy now
                            </button>
                        </div>

                    </div>
                    <div id="pass-2">
                        <h2>30 Days</h2>
                        <div>
                            <h3>130PLN</h3>
                            <button class="buy">
                                <i class="fa-solid fa-cart-shopping"></i>
                                   &nbsp;Buy now
                            </button>
                        </div>
                    </div>
                    <div id="pass-3">
                        <h2>360 Days</h2>
                        <div>
                            <h3>700PLN</h3>
                            <button class="buy">
                                <i class="fa-solid fa-cart-shopping"></i>
                                &nbsp;Buy now
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>