<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../css/pricing.css">


    <script src="https://kit.fontawesome.com/745ee5510e.js" crossorigin="anonymous"></script>

    <title>PRICING PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="#" class="button">Buy pass</a>
                </li>
                <li>
                    <i class="fa-solid fa-person-running"></i>
                    <a href="#" class="button">Group activities</a>
                </li>
                <li>
                    <i class="fa-solid fa-money-bill-wave"></i>
                    <a href="#" class="button">Pricing</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="mobile-header">
                    <div class="hamburger">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="mobile-logo">
                        <img src="../img/logo.svg">
                    </div>
                </div>
                <div class="profil">
                    <i class="fa-solid fa-user"></i>
                </div>
            </header>
            <section class="price">
                <h1>Pricing</h1>
                <table>
                    <tbody>
                    <tr>
                        <th>Category</th>
                        <th>Price</th>
                      </tr>
                    <tr>
                        <td>1 Entrance</td>
                        <td>21PLN</td>
                    </tr>
                    <tr>
                        <td>30 Days</td>
                        <td>130PLN</td>
                    </tr>
                    <tr>
                        <td>360 Days</td>
                        <td>700PLN</td>
                    </tr>
                </tbody>
                </table>
   
    <div class="buyhere">
        BUY HERE
    </div>

    </section>
    </main>
    </div>
</body>