<!DOCTYPE html>

<head>

    <link rel="stylesheet" type="text/css" href="../css/register.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">


    <title>REGISTER PAGE</title>
</head>

<body>
    <div class="base-container">
        <section class="left-img">
            <img src="../img/uploads/gym.jpg">
        </section>
        <div class="background-img">
            <img src="../img/uploads/gym.jpg">
        </div>
        <main>
            <header>
                <div class="logo">
                    <img src="../img/logo.svg">
                </div>
            </header>
            <section class="registration">
                <h1>Create account in club</h1>
                <form class="register">
                    <div class="columns">
                        <div class="registrationColumn">
                            <input name="firstName" type="text" placeholder="First name">
                            <input name="email" type="text" placeholder="E-mail">
                            <input name="password" type="password" placeholder="Password">
                            <input name="phone" type="tel" placeholder="Phone">
                            <input name="city" type="text" placeholder="City">
                            <input name="citizenship" type="text" placeholder="Citizenship">
                        </div>

                        <div class="registrationColumn">
                            <input name="secondName" type="text" placeholder="Second name">
                            <input name="repeatEmail" type="text" placeholder="Repeat e-mail">
                            <input name="repeatPassword" type="password" placeholder="Repeat password">
                            <input name="address" type="text" placeholder="Address">
                            <input name="cityCode" type="text" placeholder="City code">
                            <input name="dateOfBirth" type="text" placeholder="Date of birth"
                                onfocus="(this.type='date' )">
                        </div>
                    </div>
                    <button class="join">Join now</button>
                </form>
            </section>
        </main>
    </div>
</body>